.brand-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.brand-logo {
  height: 10px;
  width: 10px;
  border-radius: 8px;
}

header {
 
  text-align: center;
  padding: 15px;
}

nav {
  display: flex;
  gap: 150px;
  justify-content: center;
  background-color: #db470c;
  padding: 50px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}
