.quest-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  background: #f9f9f9;
}

button {
  margin-top: 8px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}
